.card{
    border: 1px solid grey;
    background: lightgrey;
    border-radius: 1.38888889vw;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}

.card:hover{
    border: 1px solid blue;
    background: aliceblue;
    border-radius: 1.38888889vw;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card_image  {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.card_image img {
    width: 350px;
    height: fit-content;
}


.card_image button {
    width: 20px;
    height: 20px;
}

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

#card_full_img{
    background-image: url('pexels-velroy-fernandes-4048419.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    color:black;
}

#card_full_img:hover{
    
    color:white;
}

@media screen and (min-width: 768px){
    .card_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        
    }
    
}