.card{
    border: 1px solid blue;
    background: aliceblue;
    border-radius: 1.38888889vw;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}